*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.box{
    display: flex;
    flex-direction: row;
    /* margin: 10px;
    padding: 15px; */
}
h2{
    margin: 20px;
    position: relative;
}
button{
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    /* position: relative; */
    font-size: 25px;
}
.drop{
    position: absolute;
    top: 25px;
    left: 0px;
    width: 150px;
    background-color: blue;
    display: none;
}
h2:hover .drop{
    display: block;
    background-color:blue;
}
.drop:hover{
    display: block;
}
.wraper{
    position: relative;
}
.drop4{
  position: absolute;
  top:0px;
  left: 150px;
  background-color: blue;
  display: none;
}
.wraper:hover .drop4{
    display: block;
}
.drop4:hover{
    display: block;
}